.location{
display: flex;
flex-direction: column;
    box-shadow: 1px 1px 5px #23b702;
    padding: 1rem 1.5rem;
    color: #00afc6;
    color: #23b702;
    width: 100%;
    max-width: 700px;
  margin: 0 auto 2rem auto;
    border-radius: 0.5rem;
}
.location_name{
    text-align: center;
    margin-bottom: 0.5rem;
}
.location_list{
    display: flex;
    justify-content: space-between;

}
.location_item{
    display: grid;
    text-align: center;
    color: #23b702;
    opacity: 0.8;
}

.location_label{
    text-align: center;
   color: rgb(0, 204, 255);
   font-weight:bold;
}